@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --color-white: #f0f0f0;
  --color-white-bg: #fff;
  --color-black: #000;
  --color-light-black: #172337;
  --color-border-grey: #e4e7ed;
  --color-brand-orange: #fb641b;
  --color-brand-blue: #2874f0;
  --color-brand-bbd: #2455f4;
  --color-brand-refurb: #f2575b;
  --color-brand-footer: #172337;
  --color-brand-blue-lighter: #7accff;
  --color-brand-blue-lighter1: #dfeafd;
  --color-blue-lighter1: #b3d7ff;
  --color-blue-lighter2: #2370f4;
  --color-blue-lighter3: #2a55e5;
  --color-primary-yellow: #ffe11b;
  --color-primary-yellow2: #f1d27d;
  --color-yellow-grade1: #fff7e1;
  --color-yellow-grade2: #fef8e0;
  --color-purple: #5f4eeb;
  --color-offer-green: #388e3c;
  --color-green-grade0: #26a541;
  --color-green-grade1: #e9f2e9;
  --color-green-grade2: #e6f4e8;
  --color-green-grade3: #e6f3e6;
  --color-green-grade4: #008c00;
  --color-yellowish-orange: #ff9f00;
  --color-flash-green: #11c29b;
  --color-error-red: #ff6161;
  --color-error-red2: #ff4343;
  --color-error-red3: #ffeaed;
  --color-error-red4: #dd5354;
  --color-error-red5: #d23276;
  --color-error-red6: #e4001e;
  --color-error-red7: #e32727;
  --color-grey-grade0: #fafafa;
  --color-grey-grade1: #f0f0f0;
  --color-grey-grade2: #e0e0e0;
  --color-grey-grade3: #c2c2c2;
  --color-grey-grade4: #878787;
  --color-grey-grade5: #212121;
  --color-grey-grade6: #d7d7d7;
  --color-grey-grade7: #f9f9f9;
  --color-grey-grade8: #9e9e9e;
  --color-grey-grade9: #efefef;
  --color-grey-grade10: #f5f5f5;
  --color-grey-grade11: #aaa;
  --color-grey-grade12: #dbdbdb;
  --color-grey-grade13: #fbfbfb;
  --color-grey-grade14: #666;
  --color-grey-grade15: #f8f8f8;
  --color-grey-grade16: #eee;
  --color-grey-grade17: #9b9b9b;
  --color-grey-grade18: #686868;
  --color-grey-grade19: #eaeaea;
  --color-grey-grade20: #e6e6e6;
  --color-grey-grade21: #e9e9e9;
  --color-grey-grade22: #d8d8d8;
  --color-grey-grade23: #ffcbd0;
  --color-grey-grade24: #717478;
  --color-grey-grade25: #111112;
  --color-grey-grade26: #f0f2f5;
  --color-greyish-blue: #b8bbbf;
  --color-light-greyish-blue: #f1f3f5;
  --color-error-bg: #fff7f8;
  --color-info-bg: #ffffe6;
  --color-info-light-bg: #fffbf6;
  --color-page-bg: #f1f3f6;
  --color-green-bg: #f7fffa;
  --color-blue-bg: #f5faff;
  --color-vip-black-bg: #343c4e;
  --color-grey-badge: #717171;
  --color-grey-light: #d3d3d3;
  --color-vendor-text: #3f3f3f;
  --color-supermart-green: #26a541;
  --color-dark-blue1: #1d6ded;
  --color-light-blue: #f4f8ff;
  --color-light-blue1: #bed5fa;
  --color-light-blue2: #93b7f1;
  --color-suparmart-fk-background: #258b3b;
  --color-info-yellow: #fffdec;
  --color-cobranded-footer-blue: #005387;
  --color-pre-book-purple: #854987;
  --color-light-pink: #fff0ff;
  --color-light-orange: #fdf5e7;
  --color-orange-bg: #fff7e1;
  --color-bright-orange: #e79900;
  --color-payment-orange: #ffc200;
  --color-wishlist-red: #ff4343;
  --color-light-green: #e7f8ec;
  --color-selector-black: #010101;
  --color-light-grey-orange: #fef7e9;
  --color-mustard: #af7b1c;
  --header-width-min: 790px;
  --width-min: 61.125rem;
  --width-max: 1680px;
  --product-page-gutter: 24px;
  --product-section-title-width: 110px;
  --product-section-title-padding: 10px;
  --font-regular: 400;
  --font-medium: 500;
  --font-size-8: 0.5rem;
  --font-size-10: 0.625rem;
  --font-size-11: 0.688rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.813rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.063rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;
  --font-size-default: 14px;
  --header-gutter: 16px;
  --z-index-dev-console: 31;
  --z-index-product-page-overlay: 30;
  --z-index-login-dropdown: 1;
  --z-index-pincode: 1;
  --z-index-sticky: 2;
  --z-index-loader: 2;
  --z-index-back-to-top: 2;
  --z-index-tooltip: 5;
  --z-index-tooltip-overlay: 4;
  --z-index-header: 10;
  --z-index-catnav: 6;
  --z-index-header-shadow: 6;
  --z-index-modal: 12;
  --z-index-tooltip-on-modal: 14;
  --z-index-toast: 18;
  --z-index-compare-button: 3;
  --z-index-sticky-basket: 3;
  --z-index-start-chat-button: 3;
  --z-index-product-page-sidebar-container: 4;
  --z-index-product-page-zoom-image-container: 28;
  --z-index-loader-bar: 12;
  --z-index-webpush-widget: 19;
  --product-page-fade-in-time: 0.6s;
  --z-index-compare-page-content-sticky-top: 6;
  --z-index-pincode-widget: 2;
  --z-index-pincode-overlay: 6;
  --z-index-latest-cart-item: 12;
  --z-index-navbar: 50;
  --basket-popup-width: 960px;
  --loading-shimmer-card-border-radius: 2px;
  --basket-popup-min-width: 960px;
  --basket-popup-min-height: 512px;
  --basket-popup-height: 89vh;
  --basket-popup-height-v4: 79vh;
  --z-index-basket-tooltip: 12;
  --z-index-mulitwidgeLoader: 3;
  --user-confirmation-popup-max-width: 406px;
  --max-width: 100%;
  --nav-height: 3.5rem;
  --nav-width: 78rem;
  --nav-logo-min-width: 6.5rem;
  --nav-btn-min-width: 7rem;
  --nav-max-height: 3.5rem;
    --nav-profile-max-width: 9.375rem;
    --nav-input-max-width: 35.25rem;
    --box-shadow-dark: 0 2px 5px 0 rgb(0 0 0 / 16%);
  }

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     */
  background: var(--color-page-bg);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0;
}

html,
body,
.wrapper,
#root {
  height: 100%;



}

body::-webkit-scrollbar {
  width: 0.2em;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

.css-q0jhri-MuiInputBase-root-MuiInput-root::before,.css-q0jhri-MuiInputBase-root-MuiInput-root:after,.css-q0jhri-MuiInputBase-root-MuiInput-root:hover {
  border-bottom: 0 !important;
}

.carousel .thumbs,
.carousel .carousel-status {
  display: none;
}

.carousel .control-prev.control-arrow {
  z-index: 100;
  background-color: var(--color-white-bg) !important;
  color: red !important;
  height: 100px !important;
  opacity: 1;
  position: absolute;
  top: calc(50% - 52px) !important;
  width: 47px !important;
  height: 104px !important;
}

.carousel .control-next.control-arrow {
  z-index: 100;
  background-color: var(--color-white-bg) !important;
  color: var(--color-black) !important;
  height: 100px !important;
  opacity: 1;
  position: absolute;
  top: calc(50% - 52px) !important;
  width: 47px !important;
  height: 104px !important;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 8px solid red;
  border-bottom: 8px solid red;
  content: '';
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid var(--color-black) !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid var(--color-black) !important;
}

.css-eg0mwd-MuiSlider-thumb {
  width: 12px !important;
  color: #fff !important;
  height: 12px !important;
}

/* CARD */
.css-o69gx8-MuiCardMedia-root {
  margin: 0 auto !important;
  max-width: 250px !important;
  height: 350px !important;
  object-fit: fill !important;
  padding: 20px !important;
}
.css-o4b71y-MuiAccordionSummary-content{
  justify-content: space-between;
}
